*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Permanent Marker';
  src: url('/assets/fonts/Permanent_Marker/PermanentMarker-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Kalam';
  src: url('/assets/fonts/Kalam/Kalam-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}