@use '../../../abstract/variables' as *;

.edit-part-form-section {
  height: 100vh;
  width: 100vw;

  button {
    width: 20vw;
  }
}

.edit-sus-details {
  @include centered(column, space-between);
  width: 90vw;
  height: 38vh;
  margin: 15vh auto 0vh auto;
}

.edit-section-buttons {
  @include centered(row, space-between);
  width: 50vw;
}

#edit-sus-site-logo {
  cursor: pointer;
}

#editSusErrorModal[open] {
  @include errorModal;
}

.error-wait-message {
  margin-top: 2.5vh;
  color: $darkOrange;
  font-weight: 700;
}

@media only screen and (min-width: 860px) {
  #editSusErrorModal[open] {
    @include errorModal;
    width: 50vw;
  }
}